@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  src: url('/src/static/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  src: url('/src/static/NotoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: url('/src/static/Oswald-Medium.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans';
}
